<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, as: :hidden %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :age, :collection => Age.all, :include_blank => true %>
    <%= f.input :location, :collection => City.all, :include_blank => true %>
    <%= f.input :nationality, :collection => Nationality.all, :include_blank => true %>
    <%= f.input :occupation, :collection => Occupation.all, :include_blank => true %>
    <% f.input :gender %>
    <% f.input :marital_status %>
    <%= f.input :share %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
