<div class="col-sm-6 col-sm-offset-3 center">
  <div class="panel" style="border-radius:4px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
    <div class="panel-body">

      <p>
        <%= @profile.first_name %> <%= @profile.last_name %>
      </p>
      <p>
        <%= Nationality.find_by(id: @profile.nationality).name %>
      </p>
      <p>
        Age:
        <%= Age.find_by(id: @profile.age).name %>
      </p>

      <p>
        Videos:
        <%= @profile.user.posts.count %>
      </p>

      <%= link_to 'EDIT', edit_profile_path(@profile), class:'btn btn-flat flat-default btn-rounded pull-right' %>

    </div>
  </div>
</div>