<div class="container">
  <div class="row">
    <div class="panel" style="border-radius:4px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
      <div class="panel-heading center">
        <h3>USERS</h3>
        <hr>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover"> 
          <thead> 
            <tr> 
              <th>User id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Age</th>
              <th>Location</th>
              <th>Occupation</th>
              <th>Share</th>
              <th>Videos</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @profiles.each do |profile| %>
              <tr>
                <td><%= profile.user.id %></td>
                <td><%= profile.first_name %></td>
                <td><%= profile.last_name %></td>
                <td><%= profile.user.email %></td>
                <td><%= Age.find_by(id: profile.age).name %></td>
                <td><%= City.find_by(id: profile.location).name %></td>
                <td><%= Occupation.find_by(id: profile.occupation).name %></td>
                <td><%= profile.share %></td>
                <td><%= profile.user.posts.count %></td>
                <td><strong><%= link_to 'show', edit_profile_path(profile) %></strong></td>
                <td><strong><%= link_to 'edit', edit_profile_path(profile) %></strong></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>