<div class="col-lg-4 col-lg-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Forgot your password?</h3>
    </div>
    <div class="panel-body">

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class:"btn btn-default btn-block" %>
          </div>
        <% end %>
        <hr>
        <%= render "devise/shared/log_in" %>
        <%= render "devise/shared/send_confirmation" %>
    </div>
  </div>
</div>