<footer>
  <div class="row">
    <div class="col-md-offset-3 col-lg-offset-3 col-lg-6 col-md-6 center">
      <ul class="list-inline" style="font-weight:900">
        <hr>
        <li>
          <%= link_to "http://www.facebook.com", target: "blank" do %>
            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://twitter.com/VotersMinute", target: "blank" do %>
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "http://www.instagram.com", target: "blank" do %>
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          <% end %>
        </li>
        <br>
        <br>
        <li><%= link_to "About", about_path %></li>
        <li><%= mail_to "contact@votersminute.com", "Request", subject: "Topic Request:" %></li>
        <li><%= link_to "Conditions", conditions_path %></li>
        <li><%= mail_to "contact@votersminute.com", "Contact", subject: "Contact:" %></li>
        <li><p>Copyrbight &copy; VotersMinute Ltd 2016</p></li>
      </ul>
    </div>
  </div>
</footer>
