<div class="col-lg-4 col-lg-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Log in</h3>
    </div>
    <div class="panel-body">

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.input :email, autocomplete: "off", input_html: { class: 'form-control' } %>
          </div>

          <div class="form-group">
            <%= f.input :password, autocomplete: "off", input_html: { class: 'form-control' } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class:"btn btn-flat flat-success btn-rounded btn-block" %>
          </div>

        <% end %>
        <hr>
        <%= render "devise/shared/sign_up" %>
        <%= render "devise/shared/forgot_password" %>
    </div>
  </div>
</div>