<% content_for :head do %>
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="The Name or Title Here">
  <meta itemprop="description" content="This is the page description">
  <meta itemprop="image" content="http://www.example.com/image.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="Voters Minute">
  <meta name="twitter:title" content="<%= @post.topic.title %>">
  <meta name="twitter:description" content="#myminute #votersminute">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="<%= @post.video_url(:screenshot) %>">

  <!-- Open Graph data -->
  <meta property="og:title" content="Voters Minute" />
  <meta property="og:video" content="<%= @post.video_url(:video) %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= @post.video_url(:screenshot) %>" />
  <meta property="og:description" content="<%= @post.topic.title %>" />
  <meta property="og:site_name" content="Voters Minute" />
  <meta property="fb:admins" content="Facebook numberic ID" />
<% end %>

<div class="container">
  <div class="row">

    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="panel" style="text-align:center;border-radius:4px;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
        <div class="panel-body">
        <h5><%= video.topic.title %></h5>
        <br>
          <% if video.processed %>

            <%= video_tag(video.video_url(:video), controls: true, autobuffer: true, style:"width:100%;height:100%;max-height:350px") %>

          <% else %>
            <h4>Video <%= video.id %> still being processed</h4>
            <br>
          <% end %>

          <div class="btn-group" role="group" style="margin-top:20px">
            <%= link_to dislike_post_path(@post), method: :put, class:"btn btn-flat flat-warning btn-rounded btn-md", "type" => "submit", "title" => "Disagree"  do %>
              <i class="fa fa-thumbs-down fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="DISAGREE"></i>
            <% end %>
            
            <%= link_to root_path, class:'btn btn-flat flat-danger btn-rounded btn-md' do %><i class="fa fa-bell fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="REPORT"></i><% end %>
            
            <%= link_to root_path, class:'btn btn-flat flat-success btn-rounded btn-md' do %><i class="fa fa-heart fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="FAVOURITE"></i><% end %>
            
            <%= link_to like_post_path(@post), method: :put, class:"btn btn-flat flat-info btn-rounded btn-md", "type" => "submit", "title" => "Agree"  do %>
              <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="AGREE"></i>
            <% end %>
          </div>

          <% if video.user.profile.share == true %>
          <hr>
          <div class="addthis_inline_share_toolbox" style="margin:10px"></div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">

  $('#example').tooltip(options)

</script>