<!DOCTYPE html>
<html>
  <head>
    <title>Voters' Minute</title>
    <%= display_meta_tags %>
    <%= content_for?(:head) ? yield(:head) : '' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

  </head>

  <body>

    <%= render partial: 'shared/navbar' %>

    <div class="container">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
        <div class="col-sm-6 col-sm-offset-3 center">
          <div class="alert alert-<%= flash_class_name(name) %>" role="alert">
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

      <div class="corner-ribbon top-left sticky blue shadow hidden-xs">BETA</div>

    <%= yield %>

    <%= render partial: 'shared/footer' %>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-575ea317a308ff8f"></script>

  </body>

</html>